.resetDefault {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.link {
  color: #0000ff;
  &:hover {
    color: #ff00bf;
  }
}

.sendForm {
  box-sizing: border-box;

  position: relative;
  width: 165px;
  height: 40px;
  margin: 0 auto;
  margin-left: 195px;
  margin-bottom: 25px;
  margin-top: 10px;

  background: #ffffff;
  border: 3px solid #426df4;
  border-radius: 5px;

  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: rgba(0, 0, 0, 0.5);
  &:disabled {
    cursor: default;
  }
  &:enabled:hover {
    background: #426df4;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    font-weight: 500;
    color: #ffffff;
  }
}
